.header {
  background-color: var(--color-black);
  border-bottom: 2px solid var(--color-purple);
  padding-top: 1em;
  padding-bottom: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header-logo {
  width: 120px;
}
